.gradle
data/*_*_corrected_raw_estimates.dat
data/*_*_flajolet_estimates.dat
data/*_*_flajolet_large_range_estimates.dat
data/*_*_flajolet_mid_range_estimates.dat
data/*_*_flajolet_small_range_estimates.dat
data/*_*_inner_loop_1_iterations_count.dat
data/*_*_inner_loop_2_iterations_count.dat
data/*_*_log_evaluation_count.dat
data/*_*_max_likelihood_estimates.dat
data/*_*_outer_loop_iterations_count.dat
data/*_*_num_large_correction_iterations.dat
data/*_*_num_small_correction_iterations.dat
data/*_*_strong_lower_bound_estimates.dat
data/*_*_strong_upper_bound_estimates.dat
data/*_*_weak_lower_bound_estimates.dat
data/*_*_weak_upper_bound_estimates.dat
data/*_*_kMax.dat
data/*_*_kMin.dat
data/*.min_error
data/*.max_error
data/hll/*.dat
data/hll_joint/*.dat
c++/definecardinalities
c++/hyperloglog_data_generator
c++/joint_hyperloglog_data_generator
c++/cardinality_calculator
c++/benchmark
c++/hyperlogloggeneration.out
c++/cardinality_calculator.out
paper/helper.pdf
paper/helper.pdf_tex
paper/max_likelihood_avg_exec_time.pdf
paper/max_likelihood_avg_exec_time.pdf_tex
paper/corrected_raw_avg_exec_time.pdf
paper/corrected_raw_avg_exec_time.pdf_tex
paper/max_likelihood_estimate.pdf
paper/max_likelihood_estimate.pdf_tex
paper/original_estimate.pdf
paper/original_estimate.pdf_tex
paper/max_likelihood_estimate_*_*.pdf
paper/max_likelihood_estimate_*_*.pdf_tex
paper/raw_corrected_estimate_*_*.pdf
paper/raw_corrected_estimate_*_*.pdf_tex
paper/paper.aux
paper/paper.bbl
paper/paper.blg
paper/paper.log
paper/paper.out
paper/raw_estimate.pdf
paper/raw_estimate.pdf_tex
paper/small_range_estimate.pdf
paper/small_range_estimate.pdf_tex
paper/texput.log
data/cardinalities.dat
